scipy==1.11.4
biopython==1.83
scikit-learn==1.4.1.post1
bx-python==0.10.0
Cython==3.0.8
numpy==1.26.3
matplotlib==3.8.2
pandas==2.1.4
pysam==0.22.0
gffutils==0.12
PyYAML==6.0.1
pybedtools==0.9.1
fisher==0.1.14
adjustText==1.1.1
pyBigWig==0.3.22
